/* HEADER da Página */
	
	@font-face{
				font-family: LatoLightItalic;
				src:url(fonts/lato-light-italic.ttf);
													}

main.index{background-image:url(../imagens/homeImage3.png);margin-left: -8px;margin-right: -8px;}
hr{opacity: 0.3;}
header{background-color: #DF0101;width: 102%; height: 80px;margin-left: -15px;margin-top: -15px;position: fixed;z-index: 3;}
img.logoHeader{width: 150px;margin-left: 45%;margin-top: 14px;position: absolute;}
#labelBarra{width: 27px;margin-top: 30px;margin-left: 30px;position: fixed;opacity: 0.97;}
#labelBarra:hover{width: 27px;margin-top: 30px;margin-left: 30px;position: fixed;opacity: 0.88;cursor: pointer;}
#barraDiv {background-color:#B40404;width: 270px;height: 600px;margin-left:-308px;margin-top: 80px;transition: 300ms;animation-timing-function: step-start;position: fixed;opacity: 0.9;}
#barraMenu:checked ~ #barraDiv{transform: translateX(310px);}
h2{font-family: helvetica;font-size: 24px;margin-left: 40px;color: #FFFFFF;}
#imagemVenom{margin-left:37px;position:fixed;width:60px;margin-top: 10px;transition-duration: 150ms;}
#imagemVenom:hover{margin-left:35px;position:fixed;width:65px;margin-top: 8px;transition-duration: 150ms;}
nav.barraMenu{border-radius: 25px;transition-duration: 150ms;background-color: #B40404;height: 40px;padding-top: 15px;opacity: 1;}
nav:hover.barraMenu{border-radius: 25px;transition-duration: 150ms;background-color: #DF0101;height: 40px;opacity: 1;}
a.barraMenu{margin-left: 7px;text-decoration: none;color: #FFFFFF;font-family: helvetica;font-size: 22px;position: absolute;opacity: 1;}
img.barraMenu{margin-left: 30px;width: 30px;margin-top: -4px;opacity: 1;}
input[type=text].Pesquisa{outline: none;border-radius: 25px;margin-left: 150px;width: 150px;margin-top: 28px;height:27px;
border: 1px solid #BDBDBD;font-family: helvetica;font-size: 18px;padding-left: 20px;color: #2E2E2E;transition-duration: 250ms;}
input[type=text].Pesquisa:hover{outline: none;border-radius: 25px;margin-left: 150px;width: 250px;margin-top: 28px;height:27px;
border: 1px solid #BDBDBD;font-family: helvetica;font-size: 18px;padding-left: 20px;color: #2E2E2E;transition-duration: 300ms;}
input[type=text].Pesquisa:focus{outline: none;border-radius: 25px;margin-left: 150px;width: 250px;margin-top: 28px;height:27px;
border: 1px solid #BDBDBD;font-family: helvetica;font-size: 18px;padding-left: 20px;color: #2E2E2E;transition-duration: 300ms;}
input[type=text].Pesquisa:in-range{outline: none;border-radius: 25px;margin-left: 150px;width: 250px;margin-top: 28px;height:27px;
border: 1px solid #BDBDBD;font-family: helvetica;font-size: 18px;padding-left: 20px;color: #2E2E2E;transition-duration: 300ms;}
#lupa{width: 35px;margin-top: 27px;margin-left: 10px;position:absolute;cursor: pointer;transition-duration: 150ms;}
#lupa:hover{width: 38px;margin-top: 25px;margin-left: 9px;position:absolute;cursor: pointer;transition-duration: 150ms;}

/* Conteúdo da Página */

div.pagesize{height: 2000px;width: 900px;}
div.slider{width: 100%;height: 400px;background-image: url(../imagens/homeImage2.png);background-size: 100%;box-shadow: 0px 0px 10px 7px;}

iframe.homepage{margin-left: 460px;margin-top: 80px;}
div.bigcontainer{background-color: #FAFAFA;width: 800px;height: 1040px;border-radius: 25px;margin-left: 395px;margin-top: 20px;}
h1.bigcontainer{text-align: center;font-family: LatoLightItalic;color: #DF0101;}
p.bigcontainer{text-align: justify;font-family: Helvetica;color: #000000;padding: 20px;font-size: 17px;}
img.bigcontainer{margin-left: 40%;width: 100px;}

div.container{width: 250px; height: 350px;background-color:;position: absolute;transition-duration: 220ms;}
div.container:hover{width: 260px; height: 360px;background-color:;position: absolute;transition-duration: 220ms;transform: translateX(-4px);}
img.container{width: 100%;box-shadow: 0px 0px 7px 3px #151515;}

table.filmes{width: 1000px;height: 1000px;margin-left: 210px;}

/* FOOTER da Página */

footer{background-color: #DF0101;width: 101%; height: 95px;margin-left: -15px;position: absolute;}
img.footerpage{margin-left: 20px;}
h3{font-family: Helvetica;color: #FFFFFF;font-size: 12px;margin-left: 30px;}

/*Tema Escuro (Venom)*/
#temaDark:checked ~ main.index{background-image:url(../imagens/homeImage3Dark.png);background-repeat:;background-size:;}
#temaDark:checked ~ main > header{background-color: #1C1C1C;}
#temaDark:checked ~ main > footer{background-color: #1C1C1C;}
#temaDark:checked ~ main > header > #barraDiv{background-color: #1C1C1C;}
#temaDark:checked ~ main > header > #barraDiv > nav{background-color: #1C1C1C;}
#temaDark:checked ~ main > header > #barraDiv > nav:hover{background-color: #2E2E2E;}
#temaDark:checked ~ main > div.bigcontainer{background-color: #2E2E2E;}
#temaDark:checked ~ main > div.bigcontainer > h1.bigcontainer{color:#FAFAFA;}
#temaDark:checked ~ main > div.bigcontainer > p.bigcontainer{color:#FAFAFA;}



/*Mobile*/

@media screen and (max-width: 480px){
	/*Header*/
	header{background-color: #DF0101;width: 102%; height: 150px;margin-left: -15px;margin-top: -15px;position: fixed;}
	img.logoHeader{width: 300px;margin-left: 65%;margin-top: 14px;position: absolute;}

		/*Barra Menu*/
#labelBarra{width: 57px;margin-top: 45px;margin-left: 50px;position: fixed;opacity: 0.97;}
#labelBarra:hover{width: 58px;margin-top: 45px;margin-left: 50px;position: fixed;opacity: 0.88;cursor: pointer;}

		#barraDiv{background-color:#B40404;width: 470px;height: 100%;margin-left:-478px;margin-top: 150px;transition: 300ms;animation-timing-function: step-start;position: fixed;opacity: 0.9;padding-top: 40px;}
#barraMenu:checked ~ #barraDiv{transform: translateX(470px);}
nav{border-radius: 25px;transition-duration: 150ms;background-color: #B40404;height: 400px;padding-top: 70px;opacity: 1;margin-bottom: 30px;margin-top: 20px;}
nav:hover{border-radius: 25px;transition-duration: 150ms;background-color: #DF0101;height: 400px;padding-top: 70px;opacity: 1;margin-bottom: 30px;margin-top: 15px;}
a.barraMenu{margin-left: 7px;text-decoration: none;color: #FFFFFF;font-family: helvetica;font-size: 50px;position: absolute;opacity: 1;margin-top: -45px;}
img.barraMenu{margin-left: 30px;width: 100px;margin-top: -75px;opacity: 1;}
							/*Tema Escuro Mobile Venom*/
h2{font-family: helvetica;font-size: 60px;margin-left: 100px;color: #FFFFFF;margin-top: -2px;}
#imagemVenom{margin-left:45px;position:fixed;width:120px;margin-top: 10px;transition-duration: 150ms;}
#imagemVenom:hover{margin-left:43px;position:fixed;width:124px;margin-top: 8px;transition-duration: 150ms;}

		/*Barra de Pesquisa*/
input[type=text].Pesquisa{outline: none;border-radius: 25px;margin-left: 150px;width: 350px;margin-top: 40px;height:67px;
border: 1px solid #BDBDBD;font-family: helvetica;font-size: 25px;padding-left: 20px;color: #2E2E2E;transition-duration: 250ms;}
input[type=text].Pesquisa:hover{outline: none;border-radius: 25px;margin-left: 150px;width: 350px;margin-top: 40px;height:67px;
border: 1px solid #BDBDBD;font-family: helvetica;font-size: 25px;padding-left: 20px;color: #2E2E2E;transition-duration: 250ms;}
input[type=text].Pesquisa:focus{outline: none;border-radius: 25px;margin-left: 150px;width: 350px;margin-top: 40px;height:67px;
border: 1px solid #BDBDBD;font-family: helvetica;font-size: 25px;padding-left: 20px;color: #2E2E2E;transition-duration: 250ms;}
#lupa{width: 75px;margin-top: 33px;margin-left: 10px;position:absolute;cursor: pointer;transition-duration: 150ms;}
#lupa:hover{width: 80px;margin-top: 32px;margin-left: 10px;position:absolute;cursor: pointer;transition-duration: 150ms;}

	/*Conteudo*/
	iframe.homepage{margin-left: 95px;margin-top: 80px;width:780px;height:500px;}
	div.bigcontainer{background-color: #FAFAFA;width: 800px;height: 840px;border-radius: 25px;margin-left: 87px;margin-top: 20px;}

	/*Footer*/
		footer{background-color: #DF0101;width: 101%; height: 145px;margin-left: -15px;position:absolute;transform: translateY(125px);}
		img.footerpage{margin-left: 20px;}
		h3{font-family: Helvetica;color: #FFFFFF;font-size: 12px;margin-left: 30px;}
}
